@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-ethnocentric {
  font-family: var(--font-ethno);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
  will-change: transform;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 2s;
  }
}

.animate-marquee-slow {
  animation: marquee 25s linear infinite;
}

.group:hover .animate-marquee,
.group:hover .animate-marquee-slow {
  animation-play-state: paused;
}